.Post {
    padding: 10px;
    margin: 10px;
    text-align: center;
    border: 2px solid rgb(90, 0, 0);
    border-width: 1px;
    
}

.Post img {
    width: 345px;
    height: 145px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 300px;
}
header{
    position: relative;
}

header h2{
    position: absolute;
    text-align: center;
    padding-left: 500px;
    padding-top: 200px;
}


